<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image ,class:"item-box-img" %>

      <div class='sold-out'>
        <% @orders.each do |order| %>
          <% if order.item_id == @item.id %>
            <span>Sold Out!!</span>
            <% break %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

    <% if user_signed_in? && current_user.id == @item.user_id %>
      <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy' %>
      <%= render partial: "item-detail", locals: { item: @item } %>
    <% elsif user_signed_in? %>
      <%# 商品が売れていない場合はこちらを表示しましょう 購入機能実装後に記述%>
      <% @orders.each do |order| %>
        <% if order.item_id == @item.id %>
        <% else %>
          <% break %>
          <%= link_to '購入画面に進む', item_orders_path(@item.id) ,class:"item-red-btn"%>
        <% end %>
      <% end %>
      <%# //商品が売れていない場合はこちらを表示しましょう %>
      <%= render partial: "item-detail", locals: { item: @item } %>
    <% else %>
      <%= render partial: "item-detail", locals: { item: @item } %>
    <% end %>

 </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class='another-item'><%= "商品のカテゴリー名" %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
